page-menu-opciones {
.page-menu-opciones{
    background-color: #2e2e3c;
   
}
    .btncustom{
        background-color: #3a568e;
    }

    h1{ padding-top: 40%;}
    h1,h3,p{ color:whitesmoke; text-align: center}
    p{padding-top: 10px;}
}
