page-consulta-reservadas {
    .header .col {
        background-color:lightgrey;
      }
      
      .col {
        border: solid 1px grey;
        border-bottom-style: none;
        border-right-style: none;
      }
      
      .col:last-child {
        border-right: solid 1px grey;
      }
      
      .row:last-child .col {
        border-bottom: solid 1px grey;
      }
      .conttbl .col{background: white;  text-align: center; padding-top:20px;  }

      .consulta-reservadas{
        background-color: #2e2e3c;
      }
      p,h1{color: #FFFFFF}

}
