page-registro-cita {

    
.header .col {
    background-color:lightgrey;
  }
  
  .col {
    border: solid 1px grey;
    border-bottom-style: none;
    border-right-style: none;
  }
  .conttbl .col{color: white;  text-align: center; padding-top:20px;  }
  .col:last-child {
    border-right: solid 1px grey;
  }
  
  .row:last-child .col {
    border-bottom: solid 1px grey;
  }

  .registro-cita{
    background-color: #2e2e3c;
  }
  p,h1{color: whitesmoke}
}
